aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
blinker
blis
cachetools
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
comm
confection
contourpy
cycler
cymem
dataclasses-json
datasets
debugpy
decorator
defusedxml
dill
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c[...]
executing
fastjsonschema
filelock
filetype
fonttools
fqdn
frozenlist
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
httpx-sse
huggingface-hub
idna
ipykernel
ipython
ipython_pygments_lexers
isoduration
jedi
Jinja2
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter-server-mathjax
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_git
jupyterlab_pygments
jupyterlab_server
kiwisolver
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langcodes
langsmith
language_data
marisa-trie
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mistune
mpmath
multidict
multiprocess
murmurhash
mypy_extensions
narwhals
nbclient
nbconvert
nbdime
nbformat
nest-asyncio
networkx
nltk
notebook_shim
numpy
orjson
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
plotly
preshed
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pyparsing
python-dateutil
python-dotenv
python-json-logger
pytz
PyYAML
pyzmq
referencing
regex
requests
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
Send2Trash
setuptools
shellingham
six
smart-open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
stack-data
streamlit
sympy
tenacity
terminado
thinc
threadpoolctl
tinycss2
toml
tornado
traitlets
transformers
typer
types-python-dateutil
typing-inspect
typing-inspection
typing_extensions
tzdata
uri-template
uritemplate
urllib3
wasabi
watchdog
wcwidth
weasel
webcolors
webencodings
websocket-client
wrapt
xxhash
yarl
zstandard
